.mainContainer{
    height: 400px;
    width: 30%;
    background-color: rgb(88, 173, 243);
    box-sizing: border-box;
    border-radius: 50px;
    box-shadow: 1px 1px 1px black;
    margin:auto; 
    position: relative;
    margin-top:200px;
}

.Text{
    font-family: "serif";
    font-size: 40px;
    color: white;
    font-weight: 700;
    margin-left: 200px;
}

.inputField{
    height: 30px;
    border-color: white;
    margin-left: 100px;
}

.Signupbutton{
    height: 40px;
    width: 70px;
    color:white;
 
    background-color: rgba(5, 5, 83, 0.705);
    border-color: rgba(5, 5, 83, 0.705) ;
}